body {
	background-color: #66CCCC;
}

/* tr, td {
	border: 2px solid black;
}*/ 

a {
	text-decoration: none;
}

#page_title {
	color: white;
	font-family: Arial;
	font-size: 40px;
}

#layout_table {
	margin: auto;
	border-spacing: 0;
	padding: 20px;
}

#header {
	text-align: center;
	background-color: gray;
	height: 100px;
}

#header_button {
	background-color: gray;
	height: 100px;
	width: 100px;
	margin: auto;
}

#website_body1 {
	background-color: #99DDDD; 
	height: 600px;
	width: 600px;
	font-family: Arial;
}

#website_body2 {
	background-color: #99DDDD; 
	height: 600px;
	width: 600px;
	font-family: Arial;
	padding-right: 20px;
	text-align: justify;
}

#photo {
	border-radius: 200px;
	border: 5px solid white;
	margin: 40px;
}

#footer {
	background-color: gray;
	height: 100px;
}

#button_array {
	margin: auto;
}

/* Buttons */
#profile_button {
	color: white;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	height: 100px;
	width: 100px;
	line-height: 100px;
	border-radius: 50px;
	background-color: #9DCBEB; 
	margin: 20%;
}

#profile_button:hover {
	background-color: #333333;	
}

#profile_button:active {
	background-color: #D3FFCE;
}

#resume_button {
	color: white;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	height: 100px;
	width: 100px;
	line-height: 100px;
	border-radius: 50px;
	background-color: #9DCBEB; 
	margin: 20%;
}

#resume_button:hover {
	background-color: #333333;	
}

#resume_button:active {
	background-color: #D3FFCE;
}

#portfolio_button {
	color: white;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	height: 100px;
	width: 100px;
	line-height: 100px;
	border-radius: 50px;
	background-color: #9DCBEB; 
	margin: 20%;
}

#portfolio_button:hover {
	background-color: #333333;	
}

#portfolio_button:active {
	background-color: #D3FFCE;
}

#contact_button {
	color: white;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	height: 100px;
	width: 100px;
	line-height: 100px;
	border-radius: 50px;
	background-color: #9DCBEB; 
	margin: 20%;
}

#contact_button:hover {
	background-color: #333333;	
}

#contact_button:active {
	background-color: #D3FFCE;
}

#boundary {
	height= 2px;
	width: 100%;
	background-color: white;
	display: inline-block;
	float: left;
}
